
/* -------------- Basic Page Settings ------------*/

*, *:before, *:after{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: 'MuseoSansCyrl', sans-serif;
	overflow-x: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

a,
a:hover {
    text-decoration: none;
}

.container{
	@include min-max(320px, 950px, 15px);
}

.btn{
	display: block;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background-color: $main-color;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

