// 992px - 1200px
@media (max-width: 1200px){
   
}
// 768px - 991px
@media (max-width: 991px){
    .promo{
        &__wrap{
            align-items: center;
        }
    }
    
    .advantages{
        &__header{
            font-size: 16px;
        }

        &__text{
            font-size: 12px;
        }
    }
}
// 576px - 767px
@media (max-width: 767px){
    .header{
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 20px;

        &__logo {
            margin-bottom: 20px;
        }
        &__official{
            margin-bottom: 27px;
        }
    }
    .advantages{
        &__items{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-bottom: 20px;
        }
    }
}
// 320px - 575px
@media (max-width: 575px){
   .promo{
       &__title{
           font-size: 24px;
       }
       &__subtitle{
          font-size: 16px;
       }
       &__icons{
           display: none;
       }
   }
}