/* -------------- Carousel ------------*/

.carousel {
	min-height: 692px;
	padding: 81px 0;

	&__inner {
		position: relative;
		max-width: 750px;
		margin: 0 auto;
		img {
			width: 100%;
		}

		.slick-prev {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -66px;
			background-color: #fff;
			border: none;
			outline: none;
			cursor: pointer;
			img {
				width: 31px;
				height: 51px;
			}
		}
		.slick-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -66px;
			background-color: #fff;
			border: none;
			outline: none;
			cursor: pointer;
			img {
				width: 31px;
				height: 51px;
			}
		}
	}
}
