@import "base/normalize";
@import "base/variables";
@import "base/fonts";
@import "base/mixins";

@import "base/setting";

@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/consultation";
@import "base/slick";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";

/* always end */
@import "media";
